<!-- Post Form -->
{% load static i18n %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Schedule New BabylonBot Post</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>
        <link href="{% static 'css/new_post.css' %}" rel="stylesheet"/>
    </head>

    <body>

      <div id="form-wrapper">
        <form id="msform" method="POST" enctype="multipart/form-data">
            <!-- Security token -->
            {% csrf_token %}

            {{ form.media }}
            <!-- Using the formset -->
            <fieldset>
                <h2 class="fs-title">Schedule your post</h2>
                <h3 class="fs-subtitle">Post content on Etoro.com</h3>

                {% if messages %}
                     {% for message in messages %}
                         <div class="text-center alert alert-{{ message.tags }}">
                             {{ message|safe }}
                         </div>
                     {% endfor %}
                {% endif %}

                {% if form.errors %}
                    <p>The form information is incorrent, please cross-check everything</p>
                {% endif %}

                <textarea name="content" cols="40" rows="10" required="" id="id_content" placeholder="Write the content...."></textarea>

                {{ form.image }}

                {{ form.post_time }}

                {{ form.author }}

                </br>
                
                <input type="submit" value="Submit" class="action-button">
                </br>
                </br>
                <a href='/tAzaOQ7K1XqSxnM6b7/'><small>Configure Users and Posts</small></a>

            </fieldset>
        </form>
      </div>
    <body>
</html>
