{% load static i18n %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/posts-list.css' %}">
<title>{% trans 'Orders' %}</title>
{% endblock head %}

{% block content %}
    <div class="items-list">
        <div class="order-toggle">
            <a class="toggle-link" href="#" id="b"> Pending </a>
            <a class="toggle-link" href="#" id="s"> Posted </a>
        </div>

        <div id="bought">
          {% for post in posts.pending %}
                  <a href="{% url 'post_detail' post.pk %}"
                    id="{{ post.slug }}" class="card contact-card open-chat">
                        {% if post.image %}
                            <img src="{{post.image.url}}"
                              class="rounded-circle contact-profile-avatar img-fluid">
                        {% else %}
                            <img src="{% static 'images/nophoto.jpg' %}"
                              alt="pic" class="contact-profile-avatar img-fluid" />
                        {% endif %}

                        <div class="contact-card-meta">
                            <p class="subtitle is-6"> {{ post.content|title|truncatechars:80 }} </p>

                            <div class="name-time-section">
                              <small class="timestamp" id="last-timestamp">
                                {{ post.post_time |date:'N d G:i' }}
                              </small>
                              <small class="msg" id="last-msg"> 
                                      {{ post.author }}
                              </small>
                           </div>
                        </div>
                  </a>

          {% empty %}
              <div class="card">
                  <div class="card-body">
                      <strong> {% trans "No Pending Posts " %} </strong>
                      <p> {% trans "Start to post on Etoro now" %}</p>
                  </div>
              </div>
          {% endfor %}
      </div>

      <div id="sold">
          {% for post in posts.posted %}
              <a href="{% url 'post_detail' post.pk %}"
                id="{{ post.slug }}" class="card contact-card open-chat">
                        {% if post.image %}
                            <img src="{{post.image.url}}"
                              class="rounded-circle contact-profile-avatar img-fluid">
                        {% else %}
                            <img src="{% static 'images/nophoto.jpg' %}"
                              alt="pic" class="contact-profile-avatar img-fluid" />
                        {% endif %}

                    <div class="contact-card-meta">
                        <p class="subtitle is-6"> {{ post.content|title|truncatechars:80 }} </p>

                        <div class="name-time-section">
                          <small class="timestamp" id="last-timestamp">
                            {{ post.post_time |date:'N d G:i' }}
                          </small>
                          <small class="msg" id="last-msg"> 
                                  {{ post.author }}
                          </small>
                       </div>
                    </div>
              </a>

          {% empty %}
              <div class="card">
                  <div class="card-body">
                      <strong> {% trans "No Posted Items Yet" %} </strong>
                      <p> {% trans "Schedule a Post on Etoro and it will show here when uploaded" %}</p>
                  </div>
              </div>
          {% endfor %}
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block extra_js %}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
              const bToggle = document.getElementById('b');
              bToggle.focus();

              const bought = document.getElementById('bought');
              const sold = document.getElementById('sold');

              bToggle.addEventListener('click', () => {
                  sold.style.display = 'none';
                  bought.style.display = 'block';
              });
              document.getElementById('s').addEventListener('click', () => {
                  bought.style.display = 'none';
                  sold.style.display = 'block';
              });
        });
    </script>
{% endblock extra_js %}
